
## temp files
.DS_Store
*.*~


## LaTeX
*.aux
*.log
*.bbl
*.blg
*.toc
paper/biPartiteWikipedia.pdf
paper/biPartiteWikipedia.synctex.gz
paper/biPartiteWikipedia.dvi
paper/biPartiteWikipedia.log
paper/biPartiteWikipedia.aux

#save
savedata
savedata/*
misc/*

./*.png
./*.eps
./*.pickle

